*{
  margin: 0;
  padding: 0;
}
/*------------NAV BAR----------------*/
img{
  position: absolute;
  float: right;
  width: 100%;
  height: 80%;
  z-index: -1;
  top: +10%;
  left: 0;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #F7CD06;



  overflow-x: hidden;
  transition: 0.7s;
  padding-top: 60px;

}

.sidenav a {
  padding: 8px 8px 8px 8px ;
  text-decoration: none;
  font-size: 25px;
  font-weight: bolder;
  display: block;
  transition: 0.5s;
  color:

}

.sidenav a:hover, .offcanvas a:focus {
  color: #665700;

}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
  color: #bc5a45;

}

.dancehall {

}

#main{
  transition: margin-left .5s;





}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidevan a {font-size: 18px;}

}

/*-----------END OF NAVBAR----------*/


body{
  height: 100%;
  font-family: "Lato" , sans-serif;
  background-color: #ffeecc;
  transition: background-color .5s;
  color: #625750;

}
p{
  font-size: 30px;
  padding: 52px;
  text-align: center;
}
h2 {
  font-size: 700%;
  text-align: center;
}

h3{
  font-size: 450%;
  text-align: center;
  margin: 15px;
}


.parallax {
    /* The image used */
    background-image: url("prvaslika.jpg");

    /* Set a specific height */
    min-height: 615px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax1 {
    /* The image used */
    background-image: url("yoga.jpg");

    /* Set a specific height */
    height: 601px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("dancehall.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    /* The image used */
    background-image: url("afro.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax4 {
    /* The image used */
    background-image: url("zebre.jpg");

    /* Set a specific height */
    min-height: 600px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.cvrsto{

  position: fixed;
  margin: 5px 20px;
 color: #c94c4c;


}
#yoga {

}


/*-----------KONTAKT------------*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: orange;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    color: red;
}

input[type=submit]:hover {
    background-color: gold ;
    font-size: 15px;
    color: green;
}

/*.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}*/

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    max-width: 50%;
    padding-left: +25%;
    padding-right: -25%;
}
